[data]
    name = "Corey Oliver"
    email = "corey.jon.oliver@gmail.com"
    github_username = "coreyjonoliver"
    personal = true
    use_1password = true

[onepassword]
    command = "op"
    prompt = true